flows.json
[{"id":"80e2e109.743e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"80e2e109.743e","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"8567d5a.2980c28","type":"ibmiot in","z":"80e2e109.743e","authentication":"apiKey","apiKey":"b3b6d945.136eb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["27bf486e.2f7e58","3fcc1a64.af37a6","24148c79.ab8ff4"]]},{"id":"27bf486e.2f7e58","type":"function","z":"80e2e109.743e","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature);\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["f2f2649a.0d0d98","e113abc6.7a2eb8"]]},{"id":"3fcc1a64.af37a6","type":"function","z":"80e2e109.743e","name":"FlameSensor","func":"global.set('FlameSensor',msg.payload.FlameSensor);\nmsg.payload=msg.payload.FlameSensor;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["f2f2649a.0d0d98","6c23afdd.5e596"]]},{"id":"24148c79.ab8ff4","type":"function","z":"80e2e109.743e","name":"MQ6","func":"global.set('MQ6',msg.payload.MQ6);\nmsg.payload=msg.payload.MQ6;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["f2f2649a.0d0d98","16eb0834.24ccb8"]]},{"id":"e113abc6.7a2eb8","type":"ui_gauge","z":"80e2e109.743e","name":"","group":"c2efea5.81f6018","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"6c23afdd.5e596","type":"ui_gauge","z":"80e2e109.743e","name":"","group":"c2efea5.81f6018","order":2,"width":0,"height":0,"gtype":"gage","title":"FlameSensor","label":"units","format":"{{value}}","min":"700","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"16eb0834.24ccb8","type":"ui_gauge","z":"80e2e109.743e","name":"","group":"c2efea5.81f6018","order":3,"width":0,"height":0,"gtype":"gage","title":"Mq6 sensor","label":"units","format":"{{value}}","min":"100","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"9d1d71a5.d9365","type":"debug","z":"80e2e109.743e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":480,"wires":[]},{"id":"33c6651b.c1b6fa","type":"function","z":"80e2e109.743e","name":"data","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'FlameSensor':global.get(\"FlameSensor\"),'MQ6':global.get(\"MQ6\")}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["b61d7acf.7fc3b8"]]},{"id":"61119467.fdddac","type":"ibmiot out","z":"80e2e109.743e","authentication":"apiKey","apiKey":"b3b6d945.136eb8","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":560,"wires":[]},{"id":"c640278c.8bf888","type":"ui_button","z":"80e2e109.743e","name":"","group":"c2efea5.81f6018","order":4,"width":0,"height":0,"passthru":false,"label":"Sprinkler ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLER ON\"}","payloadType":"json","topic":"","x":200,"y":520,"wires":[["9d1d71a5.d9365","61119467.fdddac"]]},{"id":"7d21edde.717ea4","type":"ui_button","z":"80e2e109.743e","name":"","group":"c2efea5.81f6018","order":5,"width":0,"height":0,"passthru":false,"label":"Sprinkler off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLER OFF\"}","payloadType":"json","topic":"","x":230,"y":580,"wires":[["9d1d71a5.d9365","61119467.fdddac"]]},{"id":"e215765a.aa18e8","type":"http in","z":"80e2e109.743e","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["33c6651b.c1b6fa"]]},{"id":"b61d7acf.7fc3b8","type":"http response","z":"80e2e109.743e","name":"","statusCode":"","headers":{},"x":710,"y":360,"wires":[]},{"id":"15e2fedb.3a3621","type":"http in","z":"80e2e109.743e","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["9d8e5bfd.b922b8"]]},{"id":"4c66acfb.edc0d4","type":"http response","z":"80e2e109.743e","name":"","statusCode":"","headers":{},"x":720,"y":420,"wires":[]},{"id":"9d8e5bfd.b922b8","type":"function","z":"80e2e109.743e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["4c66acfb.edc0d4","90ea0c6f.8a8a4","61119467.fdddac"]]},{"id":"90ea0c6f.8a8a4","type":"debug","z":"80e2e109.743e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":380,"wires":[]},{"id":"b3b6d945.136eb8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c2efea5.81f6018","type":"ui_group","z":"","name":"Default","tab":"47c44065.0ae89","order":1,"disp":true,"width":"6","collapse":false},{"id":"47c44065.0ae89","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]